DATABASE_URL="postgresql://user:password@host/db?sslmode=require"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZmlybS1rYW5nYXJvby00Ni5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/projects
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/projects

NEXT_PUBLIC_CORE_URL=http://localhost:3000

CLOUDFLARE_R2_ACCESS_KEY_ID="your_r2_access_key"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="your_r2_secret_key"
CLOUDFLARE_R2_ENDPOINT="https://b91931af73699f48730a2b832c37c667.r2.cloudflarestorage.com"
CLOUDFLARE_R2_BUCKET_NAME="aagora-archivos"
CLOUDFLARE_R2_BUCKET_NAME_PUBLIC="aagora-public"
R2_PUBLIC_URL="https://pub-0c4e991892914662ba0e3f09fb79757a.r2.dev"
R2_PUBLIC_URL_PUBLIC="https://pub-c09b07f1a7954c46b7f2a640146d8703.r2.dev"
NEXT_PUBLIC_WORKSPACE_URL=http://localhost:3005
